<html lang="{{@site.locale}}">

<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{asset 'built/index.css'}}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" />
  <script src="{{asset 'built/index.js'}}" defer></script>

  <title>{{meta_title}}</title>

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  <div class="bg-white-bg">

    <header>
      <nav class="bg-white-nav px-4 lg:px-6">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
          <a class="flex items-center" href="{{@site.url}}">
            {{#if @site.logo}}
            <img src="{{@site.logo}}" class="p-2 mr-3 h-[90px]" alt="{{@site.title}}" />
            {{else}}
            {{@site.title}}
            {{/if}}
          </a>
          {{navigation type="secondary"}}
          <div
            class="hidden justify-between w-full lg:flex lg:w-auto lg:order-1 ml-auto mr-12 [&>*>li]:block [&>*>li]:py-2 [&>*>li]:pr-4 [&>*>li]:pl-3 [&>*>li]:text-gray-dark hover:[&>*>li]:text-blue-300 [&>*>li]:lg:p-0 [&>ul]:flex [&>ul]:flex-col [&>ul]:mt-4 [&>ul]:font-medium [&>ul]:lg:flex-row [&>ul]:lg:space-x-8 [&>ul]:lg:mt-0>"
            id="mobile-menu-2">
            {{navigation}}
          </div>
        </div>
      </nav>
    </header>

    <main class="gh-main">

      {{{body}}}
      {{! All content gets inserted here, index.hbs, post.hbs, etc }}

    </main>


    <footer class="bg-gray-ftr">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap justify-between md:text-left text-center order-first">
          <a class="flex items-center" href="{{@site.url}}">
            {{#if @site.logo}}
            <!-- <img src="../src/images/logo.jpg" class="p-2 mr-3 h-[90px]" alt="Logo do Instituto Ornam" /> -->
            <img src="{{@site.logo}}" class="mr-3 h-[90px]" alt="{{@site.title}}" />
            {{else}}
            {{@site.title}}
            {{/if}}
          </a>
          <div class="px-4">
            <nav class="flex text-xl text-white font-bold list-none gap-20 mb-10">
              {{navigation}}
            </nav>
          </div>
        </div>
        <div class="flex flex-col items-end">
          <ul class="text-gray-500 inline-flex gap-4">
            <li>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <p>Copyright © Lorem Ipsum, 2023. All rights reserved.</p>
      </div>
  </div>
  </footer>
  </div>

  {{! <foot> }}
    {{ghost_foot}}
    {{! Outputs important scripts - should always be included before closing body tag }}

</body>

</html>